<html>
<head>
	<title></title>
</head>
<body>
<p><span style="font-family:arial,helvetica,sans-serif;"><strong>PERSYARATAN PENDAFTARAN PENERIMAAN SISWA BARU<br />
SMP/SMA NEGERI KHUSUS OLAHRAGAWAN KEMENPORA<br />
TAHUN AJARAN 2020-2021</strong></span></p>

<p><br />
<span style="font-family:arial,helvetica,sans-serif;"><strong>A. Latar Belakang</strong><br />
Penerimaan siswa baru harus memenuhi prinsip kredibel, adil, transparan, fleksibel, efisien, dan akuntabel serta tidak diskriminatif dengan memperhatikan potensi calon siswa. Siswa yang memiliki prestasi tinggi dalam bidang olahraga dan konsisten menunjukkan prestasinya di daerah asal dan sekolah sebelumnya layak mendapatkan kesempatan untuk menjadi calon siswa SMP/SMA Negeri Khusus Olahragawan Kemenpora melalui seleksi nasional. Cara untuk mengikuti seleksi tersebut dengan cara mendaftarkan diri menggunakan aplikasi online yang sudah disediakan oleh panitia aplikasi tersebut adalah SAPA-SKO. Calon peserta dapat mendaftarkan diri dengan masuk ke https://sapasko.id/.</span></p>

<p><strong>B. Ketentuan Umum</strong></p>

<p><span style="font-family:arial,helvetica,sans-serif;">&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;SMP/SMA Negeri Khusus Olahragawan Kemenpora merupakan wadah pembinaan lanjutan bagi calon olahragawan berprestasi. Seleksi penerimaan siswa baru tidak dianjurkan bagi olahragawan pemula karena dapat menyebabkan kegagalan pada tahap seleksi berkas dan tidak dapat mengikuti tahapan seleksi berikutnya.<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Panitia tidak memungut biaya pendaftaran/ seleksi dan bagi peserta yang diterima akan mendapatkan fasilitas:<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Asrama<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Konsumsi<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Bebas biaya pendidikan/latihan<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Bantuan peralatan dan perlengkapan pendidikan/latihan<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Ujicoba nasional/internasional<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Jaminan kesehatan<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Bantuan uang saku bulanan<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Tetap memiliki hak untuk memperkuat daerah/perkumpulan asal pada berbagai kejuaraan.<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Sebelum mendaftar, pastikan calon pendaftar dapat memenuhi seluruh persyaratan yang telah ditetapkan. Persyaratan yang tidak lengkap berakibat gagal dalam verifikasi berkas dan kehilangan haknya untuk mengikuti tahapan seleksi berikutnya.<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Seluruh berkas pendaftaran menjadi hak panitia dan tidak dapat diambil kembali.<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Ketentuan Peserta<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Warga negara Indonesia berprestasi di bidang olahraga.<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Memiliki nilai raport rata-rata 6,5 atau lebih.<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Menyiapkan berkas di scan dalam bentuk File JPG&nbsp; untuk di upload pada aplikasi online seperti:<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Raport terakhir<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Akte kelahiran<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Piagam penghargaan/sertifikat prestasi<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Kartu keluarga<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Rekomendasi klub<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Rekomendasi dinas olahraga<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;BPJS<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Keterangan dokter<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Pendaftaran SKO Ragunan<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Siswa pendaftar wajib membuat akun ke laman https://sapasko.id/ untuk melakukan pendaftaran secara online dengan menggunakan email dan password yang akan disesuaikan untuk terdaftar sebagai akun peserta.<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Setelah siswa pendaftar memiliki akun, siswa log in dengan menggunakan email dan password yang telah didaftarkan. Siswa pendaftar melengkapi biodata diri, serta mengunggah pasfoto resmi terbaru.<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Siswa pendaftar melakukan upload berkas yang telah di scan dan link video keterampilan untuk di upload diakunnya sebagai syarat untuk seleksi berkas.<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Setelah semua berkas terupload maka peserta akan mendapat informasi lebih lanjut untuk mencetak ID card.<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Jadwal Pelaksanaan Penerimaan siswa baru<br />
Jadwal pelaksanaan penerimaan siswa baru SKO Ragunan sebagai berikut:<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Pendaftaran online melalui aplikasi&nbsp;&nbsp; &nbsp; : 10 &ndash; 25 Januari 2020<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Pendaftaran Ulang&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : 5 &ndash; 7 Februari 2020<br />
&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;Tes Seleksi Keterampilan dan Fisik&nbsp;&nbsp; &nbsp; : 5 &ndash; 7 Februari 2020</span></p>

<p></p>
</body>
</html>